* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("images/patt.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.header {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 5px;
}

.menu {
  position: relative;
  font-family: "Roboto";
}

.menu__list {
  display: flex;
}

.menu__list > li {
  width: 25%;
  border-left: 1px solid #2c71b8;
}

.menu__list > li:hover .sub-menu__list {
  display: block;
}

.menu__list > li:hover .menu__link {
  color: white;
  background-color: #2c71b8;
}

.menu__list li:last-child {
  border-right: 1px solid #2c71b8;
}

.menu__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-decoration: none;
  font-size: 21px;
  color: #2c71b8;
}

.menu__list a:hover {
  background-color: #2c71b8;
  color: white;
}

.menu__link::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  margin-left: 9px;
}

.sub-menu__list {
  display: none;
  min-width: 286px;
  position: absolute;
  left: 142px;
  top: 30px;
  padding: 20px 0 0 0;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 21px;
  z-index: 10;
}

.empty {
  width: 100%;
  height: 19px;
  background-color: #2c71b8;
}

.sub-menu__list a {
  display: inline-block;
  color: white;
  width: 100%;
  padding-top: 13px;
  padding-left: 30px;
}

.sub-menu__list a:hover {
  background-color: white;
  color: #2c71b8;
}

.sub-menu__list > li {
  background-color: #2c71b8;
}

.search-container{
  display: flex;
  align-items: center;
}

.search {
  border: 1px solid #2c71b8;
  width: 200px;
  height: 40px;

}

.input-for-search {
  width: 158px;
  height: 36px;
  background: none;
  border: none;
}

.input-for-search::placeholder {
  color: #2c71b8;
  padding-left: 20px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 21px;
}

.button-for-search {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  background-color: #2c71b8;
}

.cart {
  position: relative;
  background-image: url("images/blue-cart.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-left: 30px;
}

#product-count {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  background-color: #2c71b8;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  color: white;
}

.breadcrumbs {
  margin: 29px 0 29px 29px;
}

.breadcrumbs_items {
  display: flex;
}

.breadcrumbs_items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  opacity: 0.502;
  font-weight: 300;
  font-family: "Roboto";
}

.breadcrumbs_items a:hover {
  text-decoration: underline;
}

.breadcrumbs_items li::after {
  content: ">";
  color: white;
  font-size: 14px;
  opacity: 0.502;
  padding: 8px;
}

.breadcrumbs_items li:last-child::after {
  content: "";
}

.section-name {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto";
  margin-left: 29px;
}

.dropdown a {
  text-decoration: none;
  width: 252px;
}

.dropdown li {
  position: relative;
}

.dropdown-list {
  display: flex;
}

.dropdown-list > li:hover .sub-dropdown-list {
  display: block;
}

.dropdown-list > li:hover .dropdown-link {
  background-color: #2c71b8;
}

.dropdown-link {
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  font-family: "Roboto";
  border: 1px solid white;
  padding: 10px 16px 10px 19px;
}

.dropdown-link::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  margin-left: 84px;
}

.dropdown-list a:hover {
  background-color: #2c71b8;
}

.sub-dropdown-list {
  display: none;
  position: absolute;
  left: 0;
  top: 20px;
  padding: 13px 0 0 0;
  z-index: 10;
}

.sub-dropdown-list > li {
  background-color: #2c71b8;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
}

.sub-dropdown-list > li:last-child {
  border-bottom: 1px solid white;
}

.sub-dropdown-list a:hover {
  background-color: white;
  color: #2c71b8;
}

.sub-dropdown-link {
  color: #ffffff;
  display: inline-block;
  padding: 10px 0 10px 19px;
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  font-family: "Roboto";
}

.product {
  margin-top: 50px;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.749);
  width: 269px;
  height: 180px;
}

.border-for-product {
  position: relative;
  border: 1px solid white;
}

.zoom {
  position: absolute;
  left: 228px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid #2c71b8;
  background-image: url("images/blue-zoom.png");
  background-repeat: no-repeat;
  background-position: center;
}

.zoom:hover {
  background-color: #2c71b8;
  background-image: url("images/white-zoom.png");
  cursor: pointer;
}

.like {
  position: absolute;
  left: 228px;
  top: 45px;
  width: 30px;
  height: 30px;
  border: 1px solid #2c71b8;
  background-image: url("images/blue-like.png");
  background-repeat: no-repeat;
  background-position: center;
}

.like:hover, .liked{
  background-color: #2c71b8;
  background-image: url("images/white-like.png");
  cursor: pointer;
}

.product-item {
  color: white;
  font-weight: 700;
  font-size: 30px;
  font-family: "Roboto";
  margin-top: 15px;
  margin-left: 15px;
}

.product-desc {
  color: white;
  font-family: "Roboto";
  font-size: 21px;
  margin-top: 20px;
  margin-left: 15px;
}

.product-features {
  color: white;
  font-family: "Roboto";
  margin-top: 20px;
  margin-left: 15px;
}

.product-features span {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 21px;
  font-family: "Roboto";
}

.product-price {
  color: white;
  font-size: 48px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  margin-top: 32px;
}

.btn {
  display: block;
  margin: 0 auto;
  border: 1px solid white;
  background-color: #2c71b8;
  color: #ffffff;
  width: 208px;
  height: 47px;
}

.btn-more-details {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto";
}

.btn-more-details:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-add-to-cart {
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto";
  padding-right: 20px;
}

.btn-add-to-cart:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-add-to-cart::after {
  content: "";
  position: absolute;
  left: 204px;
  top: 442px;
  background-image: url("images/white-cart.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}


.load-more{
  text-align: center;
  font-size: 36px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Roboto";
  margin-top: 39px;
  margin-bottom: 90px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100px;
  opacity: 0.749;
}

.text-for-footer{
  font-size: 21px;
  color: #2c71b8;
  font-weight: 300;
  font-family: "Roboto";
}

.filter-container{
  height: 843px;
  width: 270px;
  border-right: 1px solid #ffffff;
  background-color:rgba(255, 255, 255, 0.20);
}

.devices{
  margin-left: 29px;
  margin-bottom: 27px;
  padding-top: 30px;
}

.devices:last-child{
  margin-bottom: 0;
}

.devices span{
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 21px; 
}

.custom-checkbox{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label{
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  font-family: "Roboto";
  margin-top: 20px;
}

.custom-checkbox+label::before{
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  margin-right: 12px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before{
  background-color: white;
}

.show-more{
  margin-top: 28px;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 21px;
}


.button-for-filter{
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 700;
}

.button-for-filter:hover{
  background-color: rgba(255, 255, 255, 0.2);
}


.modal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 100;
  display: none;
}

.modal-block{
  width: 300px;
  height: 200px;
  background-color: white;
  margin: 80px auto;
  padding: 15px;
  text-align: center;
}

.modal-block h3{
  padding-bottom: 15px;
}

.btn-wrap{
  display: flex;
  justify-content: flex-end;
}

.btn-close{
  cursor: pointer;
}

.form-field{
  margin-bottom: 15px;
}

.form-field input{
  width: 100%;
  height: 30px;
}

.slider{
  /* height: 400px; */
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.20);
}

.show{
  display: block;
}

.hide{
  display: none;
}

.slider-block > div{
  position: relative;
  text-align: center;
  font-size: 100px;
  letter-spacing: 10px;
  font-weight: 200;
  font-family: "Roboto";
  padding: 150px 0;
  color: white;

}




.slick-dots li:nth-child(1) button{
  border: 2px solid white;

}

.slick-dots li:nth-child(2) button{
  border: 2px solid white;
  
}

.slick-dots li:nth-child(3) button{
  border: 2px solid white;
  
}

.slick-dots li:nth-child(1) button:before{
  content: "";
  

}

.slick-dots li:nth-child(2) button:before{
  content: "";
  
}

.slick-dots li:nth-child(3) button:before{
  content: "";
  
}

.slick-dots li:nth-child(1).slick-active button:before{
  background-color: white;
  opacity: 1;
}

.slick-dots li:nth-child(2).slick-active button:before{
  background-color: white;
  opacity: 1;
}

.slick-dots li:nth-child(3).slick-active button:before{
  background-color: white;
  opacity: 1;
}

.prev, .next{
  position: absolute;
  top: 175px;
  width: 27px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
  
}

.next{
  right: 0;
}